{% extends "hod_template/base_template.html" %}
{% block page_title %}
Ajouter un Etudiant
  {% endblock page_title %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">

    <div class="card" >
      <div class="card-header bg-primary border-0 pt-2">
        <h3 class="card-title"> LISTE DES ETUDIANTS</h3>
        <div class="card-tools">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
            Ajouter un etudiant
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <div class="row">
          {% for student in students %}
          <div class="col-lg-4 col-xl-3 col-md-4  mb-10 ">
            <!-- begin::card -->
            <div class="card shadow-lg h-100"style="margin-top:10px;">
              <!-- begin::body -->
              <div class="card-body d-flex-center flex-column" >
                <div class="row">
                  <div class="col-12">
                    <div class="symbol symbol-75px symbol-card mb-2" style="padding-left: 30%;">

                      <img src="{{ student.profile_pic }}" style="width:100px; height: 100px;object-fit: cover;border-radius: 50%; border: 2px solid #ccc; " />
                    </div>
                    <!-- end::avatar -->
                  </div>

                  <div class="col-12">
                    <div class="fw-semibold text-gray-900 fs-1 text-center" style="font-weight: bold;font-size: 1.5rem;text-align: center;color: #343a40;" >{{ student.admin.first_name }}
                      {{ student.admin.last_name }}</div>
                  </div>

                  <div class="col-12 justify-content-center">
                    <table class="mb-5 align-items-center  m-auto mt-2 mx-5px">

                      <tr>
                        <td class="fw-semibold text-gray-400  text-start">Email :&nbsp </td>
                        <td  class="fw-semibold text-gray-900  text-start">{{ student.admin.email }}</td>
                      </tr>

                      <tr>
                        <td class="fw-semibold text-gray-400  text-start">Adresse :&nbsp </td>
                         <td  class="fw-semibold text-gray-400  text-start">{{ student.adresse }}</td>
                      </tr>

                      <tr>
                        <td class="fw-semibold text-gray-400  text-start">Genre :&nbsp </td>
                        <td  class="fw-semibold text-gray-400  text-start">{{ student.genre }}</td>
                      </tr>
                    </table>
                  </div>

                </div>

              </div>

              <div class="card-footer">

                <div class="row">
                  <div class="col-12">
                    <div class="menu-item px-2">
                      <table>
                        <tr>
                          <td><a href="/edit_student/{{ student.admin.id }}" class="btn btn-success">Modifier</a></td>
                        </tr>

                      </table>

                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>
          {% endfor %}
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <div class="form-group">
          {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
          {% endif %}
          {% if message.tags == 'success' %}
          <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>

      </div>
      <!-- /.card-footer -->
    </div>

  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un etudiant </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="from" action="/add_student_save" method="post" id="id_student" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Adresse Email</label>
            <input type="email" class="form-control" id="email" placeholder="Entrez votre adresse email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Mot de Passe</label>
            <input type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe"
              name="password">
          </div>
          <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" class="form-control" id="firstName" placeholder="Entrez votre prénom" name="first_name">
          </div>
          <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" placeholder="Entrez votre nom" name="last_name">
          </div>
          <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" class="form-control" id="address" placeholder="Entrez votre adresse" name="address">
          </div>
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" placeholder="Entrez votre nom d'utilisateur"
              name="username">
          </div>

          <div class="form-group">
            <label>Genre</label>
            <select class="form-control" name="sex" >
                
                <option>Feminin</option>
                <option>Masculin</option>

            </select>
          </div>

          <div class="form-group">
            <label>Cours</label>
            <select class="form-control" name="course">
                {% for course in courses %}
                <option value="{{course.id}}" >{{course.course_name}}</option>
                {% endfor %}
            </select>
          </div>


          <div class="form-group">
            <label>Debut Session</label>
            <input type="date" class="form-control" id="Debut Session" placeholder="Debut Session"
              name="session_start">
          </div>

          <div class="form-group">
            <label>Fin Session</label>
            <input type="date" class="form-control" id="Fin Session" placeholder="Fin Session"
              name="session_end">
          </div>

          <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" placeholder="choisir l'image"
              name="profile_pic">
          </div>




          <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


 <script>
   document.getElementById('id_staff').addEventListener('submit', function (event) {
            event.preventDefault();
        });
  <script/>